<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
</head>
<body>
    <!-- <%= include('common/header') %> it will render HTML data with tags  -->
    <%- include('common/header') %>
    <h1> this is a Login page</h1>
</body>
</html>